# Aquí podrás configurar las variables de uso para conectar tus configuraciones.

#Aquí va la url del sistema de actualización, necesitarás recibir en formato JSON una etiqueta "Version"
UPDATER_URL="https://jossred.josprox.com/api/version/com.josprox.jossmusic"
#Aquí debes poner el ID de tu adsense, este es solo para el banner
YOUR_AD_UNIT_ID="ca-app-pub-3940256099942544/6300978111"
#No olvides poner el onesignal.
ONESIGNAL_APP_ID=""

#Link oficial de la web:
HOMEPAGE="https://jossmusic.me/"

# Aquí va la clave de Joss Red Multimedia para el streaming
STREAMING_HEAD_JOSSRED=""